/* Font */
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Andika', sans-serif;
    background-color: gray;
    text-transform: uppercase;
}
/* variables */

/* Main Content */

/* Header & Logo */

.container {
    position: relative;
    margin: 0 2rem;
    padding-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    padding: 1rem 1.4rem 1rem 2rem;
}

h1 {
    font-size: 1.1rem;
    border-bottom: none;
    width: 100%;
    text-align: left;
}

/* Score */
/* change colours and heights later */

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    width: 150px;
    height: 100%;
    line-height: 1;
}

.score_title {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: red;
}

.score_number {
    font-size: 2rem;
    font-weight: 300;
    color: green;
}

/* footer and social media */

/* Fill in Later */

/* media queries */

/* small tablet */

@media (min-width: 500px) {
    /* Fill in later */
}

/* tablet */

@media (min-width: 750px) {
    /* Fill in later */
}

/* desktop */

@media (min-width: 950px) {
    /* Fill in later */
}
