/* Font */
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Andika', sans-serif;
    background-color: gray;
    text-transform: uppercase;
}
/* variables */

/* Main Content */

/* Header & Logo */

.container {
    position: relative;
    margin: 0 2rem;
    padding-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    padding: 1rem 1.4rem 1rem 2rem;
}

h1 {
    font-size: 1.1rem;
    border-bottom: none;
    width: 100%;
    text-align: left;
}

/* Score */
/* change colours and heights later */

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    width: 150px;
    height: 100%;
    line-height: 1;
}

.score_title {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: red;
}

.score_number {
    font-size: 2rem;
    font-weight: 300;
    color: green;
}

/* Game buttons */

.game {
    position: relative;
    display: grid;
    grid-template-columns: (repeat(2, 1fr));
    grid-template-areas: 
        "paper scissors"
        "rock rock";
    place-items: center;
    height: 30rem;
    padding-top: 4rem;
}

.choice-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

#viking {
    max-width: 100%;
    max-height: 100%;
}

.choice img {
    transform: scale(1.2);
    max-width: 100%;
    height: 50%;
    border: 1px solid black;
    
}

/* comeback after img added and change sizes */

/* this alters the ring sizes */
.choice {
    position: relative;
    width: 6rem;
    height: 6rem;
    background: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.choice::before,
.choice::after {
    content:"";
    position: absolute;
    left: -15%;
    top: -15%;
    width: 130%;
    height: 130%;
    border-radius: 50%;
    z-index: -1;
}

.choice::after {
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* Colour needs changing */
.choice-btn:focus .choice::after {
    opacity: 1;
    box-shadow: 0 0 0 2rem black;
    z-index: -2;
}

.choice.paper::before {
    background: blue;
}

.choice.rock::before {
    background: pink;
}

.choice.scissors::before {
    background: orange;
}

.choice-btn[data-choice="paper"] {
    grid-area: paper;
}

.choice-btn[data-choice="scissors"] {
    grid-area: scissors;
}

.choice-btn[data-choice="rock"] {
    grid-area: rock;
}

/* Rules button */

.rules-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: none;
    outline: none;
    border: 2px solid black;
    border-radius: 0.6rem;
    color: black;
    padding: 0.6rem 2.5rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.rules-btn:focus {
    border: 2px solid white; 
}

/* Game Rules button */
#game_rules {
    max-width: 200%;
    max-height: 200%;
}

.game-rules {
    position: absolute;
    height: 0.1em;
    width: 0.1em;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background: grey;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.game-rules-container {
    background: white;
    border-radius: 0.1em;
}

.game-rules-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 2rem 1rem;
}

/* footer and social media */

/* Add more icons youtube to patrol and bayern munich highlights */

.social-icons {
    text-align: center;
}

.social-icons > li {
    display: inline;
}

.social-icons i {
    font-size: 150%;
    margin: 2%;
    padding: 2%;
    color: black;
}
/* Fill in Later */

/* media queries */

/* small tablet */

@media (min-width: 500px) {
    /* Fill in later */
}

/* tablet */

@media (min-width: 750px) {
    /* Fill in later */
}

/* desktop */

@media (min-width: 950px) {
    /* Fill in later */
}
